#panel-cover {
    display:         block;
    position:        fixed;
    z-index:         900;
    width:           100%;
    max-width:       none;
    height:          100%;
    background:      url(./background.png) top left no-repeat #666;
    background-size: cover;
}
